@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Roboto:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Robot', sans-serif;
    /* box-sizing: border-box; */
}

.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #93C572 70%, #C8EBB1 30%);
    position: relative;
    overflow: hidden;
}

.wave{
    position: absolute;
    top: 0;
    right: 30%;
}

nav{
    width: 90%;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;

}

nav ul{
    display: flex;
    list-style-type: none;
}

nav ul li{
    margin: 0 5px;
}

nav ul a{
    text-decoration: none;
    padding: 0.3rem 1.3rem;
    font-size: 15px;
    font-weight: bold;
    color: rgb(251, 222, 184);
    position: relative;
    z-index: 1;
}

nav ul a::after{
    content: 0;
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0px;
    border-radius: 20px;
    background-color: #C8EBB1;
    z-index: -1;
    transition: 0.5s;
}

nav ul a:hover:after{
    width: 100%;
}

.main-content{
    width: 60%;
    padding-top: 100px;
    margin-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.image-lander, .main-text{
    flex-basis: 50%;
}

.image-lander img{
    width: 100%;
}

.main-text h1{
    font-size: 40px;
    letter-spacing: 1px;
    color: azure;
}

.main-text p{
    margin-top: 10px;
    font-size: 20px;
    letter-spacing: 1px;
}

.main-text button{
    margin-top: 1.5rem;
    outline: none;
    border: none;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border-radius: 0 50% 50% 0;
    color: black;
    font-weight: bold;
    background-color: aqua;
    cursor: pointer;
}

.main-text button:hover{

}





.swiper{
    width: 20rem;
}

.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}

.right{
    position: absolute;
    right: 8%;
    bottom: 20%;
}

.box{
    display: flex;
    align-items: center;
}

.right .box .image img{
    width: 70%;
}

.image{
    margin-top: 2rem;
    width: 80px;
    height: 80px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    box-shadow: -5px 5px 17px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}

.image:hover{
    background-color: rgba(73, 66, 52, 0.7);
}

.box .inner-box{
    margin: 1.5rem 0 0 1rem;

}
.box .inner-box p{
    font-size: 14px;
    font-weight: 500px;
}

.social-links{
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.social-links::before{
    content: 0px;
    width: 80%;
    height: 3px;
    position: absolute;
    top: 42%;
    left: -150%;
    background-color: rgb(4, 53, 20);
}

.social-links i{
    margin-left: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #64ec09;
    transition: 0.5s;
}

.social-links i:hover{
    transform: translateY(-5px);
}




